In [1]:
import os, sys
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [2]:
# Create a SparkSession. No need to create SparkContext
# You automatically get it as part of the SparkSession
spark = SparkSession.builder\
                .master("local[*]")\
                .appName("ETL")\
                .config('spark.driver.extraClassPath','D:\conn-mysql\mysql-connector-java-5.1.46\mysql-connector-java-5.1.46.jar')\
                .getOrCreate()

# there are some config you might want to set:
# https://spark.apache.org/docs/latest/configuration.html
# now we can go to http://localhost:4040 (default port) in order to see Spark's web UI

In [3]:
print(os.getcwd()) # show current working directory

C:\Users\me

# Adding files to dataframe

In [4]:
df_orders = spark.read \
    .format('com.databricks.spark.csv') \
    .options(header='true', delimiter=',') \
    .load('D:\\Fall-18\\Project-Data\\data\\1987.csv')
df_orders.count()

1311826

In [5]:
df_orders.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- DayofMonth: string (nullable = true)
 |-- DayOfWeek: string (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: string (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: string (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: string (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)

In [6]:
df_orders.select('DayOfWeek','Distance','WeatherDelay').take(5)

[Row(DayOfWeek='3', Distance='447', WeatherDelay='NA'),
 Row(DayOfWeek='4', Distance='447', WeatherDelay='NA'),
 Row(DayOfWeek='6', Distance='447', WeatherDelay='NA'),
 Row(DayOfWeek='7', Distance='447', WeatherDelay='NA'),
 Row(DayOfWeek='1', Distance='447', WeatherDelay='NA')]

In [1]:
MYSQL_CONNECTION_URL = "jdbc:mysql://localhost:3306/employees?user=root&password=root";
df_employees = spark.read.format("jdbc").options(driver='com.mysql.jdbc.Driver',
url=MYSQL_CONNECTION_URL,
dbtable="employees").load()

In [2]:
df_employees.registerTempTable("customers")

In [5]:
sql='''
SELECT *
FROM customers
'''

In [6]:
output = spark.sql(sql)

In [8]:
output.count()

300024

In [10]:
output.select('emp_no','first_name','last_name','hire_date').take(5)

[Row(emp_no=10001, first_name='Georgi', last_name='Facello', hire_date=datetime.date(1986, 6, 26)),
 Row(emp_no=10002, first_name='Bezalel', last_name='Simmel', hire_date=datetime.date(1985, 11, 21)),
 Row(emp_no=10003, first_name='Parto', last_name='Bamford', hire_date=datetime.date(1986, 8, 28)),
 Row(emp_no=10004, first_name='Chirstian', last_name='Koblick', hire_date=datetime.date(1986, 12, 1)),
 Row(emp_no=10005, first_name='Kyoichi', last_name='Maliniak', hire_date=datetime.date(1989, 9, 12))]